---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ReportSpace from '../components/ReportSpace.astro';
import ComplaintButton from '../components/ComplaintButton.astro';

import { getCollection } from 'astro:content';

const response = await fetch('https://reportit.azurewebsites.net/listposts');
const data = await response.json();
const title = 'Denuncialo';

//const allPosts = await Astro.glob("../content/*.md")
//const allPosts = await getCollection('tips');
let mostrarVueComponent = false;

function mostrarComponente() {
  mostrarVueComponent = !mostrarVueComponent;
}

export { mostrarComponente };
---

<Layout title={title}>
  <main>
    <Header title="Denuncialo" />
    <ul role="list" class="link-card-grid">
      {
        data.map((element) => (
          <Card
            title={element.complaint_title}
            content={element.complaint_content}
            time={element.complaint_date}
            tags={['odio', 'neiva', 'politica ']}
          />
        ))
      }
    </ul>
  </main>
  <ComplaintButton />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>

<style></style>
